/*App */
.app {
  width: 40%;
  margin: 0 auto;
  height: 100vh;
  background: #e8f2f8;
}

/* logo */
.logo {
  text-align: center;
  margin-bottom: 1rem;
}

.logo img {
  width: 100px;
}

.logo h3 {
  color: #a2de4f;
}